* {
  box-sizing: border-box;
}

body {
	background-color: #1e90ff;
	font-family: courier;
}

#header {
	background-color:#cceeff;
	padding: 15px;
	text-align: center;
}

h1 {
	text-align: center;
}

.body {
	margin-top: 25px;
	margin-right: 25px;
	margin-bottom: 25px;
}

#menu {
	border: 1px solid #0000ff;
	border-radius: 7px;
	background-color: #00ccff;
	float: left;
	height: 100%;
	width: 20%;
	padding: 20px;
	justify-content: center;
	text-align: center;
}

#menu a {
	display: block;
	background-color:#0000ff;
	color: #ffffff;
	text-align: center;
	width: 100%;
	margin-top: 7px;
	padding: 16px;
	text-decoration: none;
}

#id {
	margin-bottom: 75px;
}

#logo {
	float:left;
	width:150px;
	height:150px;
	margin-top:-25px;
}

#main {
	float: left;
	width: 60%;
}

#booking-form {
	display: flex;
	justify-content: center;
	background-color: #aaeeff;
	border: 3px solid #0000ff;
	border-radius: 10px;
	height: 1100px;
	width: 750px;
	margin: auto;
	margin-top: 50px;
	padding: 20px;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	border-top-style: outset;
	border-top-color: aliceblue;
	border-bottom-style: outset;
	border-bottom-color: aliceblue;
	position: relative;
}

form label {
	display: block;
	margin-top: 20px;
}

form input, textarea {
	width: 55%;
	margin-top: 5px;
	padding: 10px;
	text-align: center;
}

fieldset {
	display: flex;
	width: 55%;
	text-align: center;
	margin-top: 15px;
	padding: 5px;
}

input[type="radio"] {
	display: none;
}

#reset {
	border-radius: .7rem;
	width: 30%;
	margin-top: 10px;
}

.gender {
	display: flex;
}

.gender input {
	display: none;
}

.gender label {
	cursor: pointer;
	padding: 10px 20px;
	border: 1px solid #ddd;
	border-radius: 5px;
}

.gender input:checked + label {
	background-color: #ddd;
}

/*
#address {
	height: 50px;
}
*/

.btnlink {
	border: 1px solid #0000ff;
	border-radius: .7rem;
	background-color: #0000ff;
	font-family: bahnschrift;
	width: 250px;
	padding: 15px 25px;
	text-decoration: none;
	text-align: center;
	color: #ffffff;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 7px;
	
}

/* work on defining the calender section to the right */

#calender {
	border: 1px solid #0000ff;
	float: left;
	width: 20%;
	background-color: white;
	color:;
}
