* {
  box-sizing: border-box;
}

body{
	background-color: #1e90ff;
	font-family: courier;
}

#header {
	background-color:#cceeff;
	padding: 15px;
	text-align: center;
}

h1 {
	text-align: center;
}

.body {
	text-align: center;
	display: grid;
	grid-template-columns: 20% 80%;
	margin-top: 25px;
	margin-right: 25px;
}

#menu {
	border: 1px solid #0000ff;
	border-radius: 7px;
	background-color: #00ccff;
	height: auto;
	padding: 20px;
	justify-content: center;
	text-align: center;
}

#menu a {
	display: block;
	background-color:#0000ff;
	color: #ffffff;
	text-align: center;
	width: 100%;
	margin-top: 7px;
	padding: 16px;
	text-decoration: none;
}

#id {
	margin-bottom: 75px;
}

#logo {
	float:left;
	width:150px;
	height:150px;
	margin-top:-25px;
}

#main {
	font-family: comic sans ms;
	padding-bottom: 20px;
}

.container{
	background-color: #cceeff;
	border-radius: 7px;
	color: #0000ff;
	font-size:120%;
	text-align: center;
	margin: 25px;
	padding: 25px;
}

.one{
	margin-top: 0px;
}

.two {}

.three {
	margin-bottom: 0px;
}

.tables {
	display: grid;
	grid-template-columns: 33% 33% 33%;
}

.tables1 {
	display: grid;
	grid-template-columns: 50% 50%;
}

h3 {
	color: #000000;
}

hr {
	border-color: #000000;
	margin-top: 25px;
}

table, th, td{
	border: 1px solid #0000ff;
	border-collapse: collapse;
	border-radius: 7px;
	background-color:#ffffff;
	margin: 25px;
}

.combo{
	background-color: 	;
}

th {
	color:#000000;
}

.rowcolor {
	background-color: #0000ff;
}

.heading {
		width:200px;
}

#copy {
	text-align: center
}
