body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0px;
    padding: 0;
 
    
}

h1 {text-align: center;
    background-color:powderblue;
}


iframe 
	{border:none;
	}

img{
    width:100%
}

header{
      background-color:powderblue;
  text-align: center;
  padding: 20px;
 }

.infoWrap{
 	display:grid;
	grid-template-columns:50% 50%;
}
